<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
          <a class="navbar-brand" href="/products"> All Products </a>
          <a class="navbar-brand" href ="/about">About Us</a>
        </div>
      </div>
    </div>
    <div class ="container">
      <div class = "admin">
      	<h1>About Us</h1>
        <img src="bieberdrake.jpg" class="col-md-6" height="360px">
      	<p class="col-md-6">Starting from the bottom, Drake went up to the North to meet the legendary musical artist and gay rights activist Justin Bieber for a once-in-a-lifetime world tour. In the Asian leg of their tour, they went to the Philippines and were slated to have a concert in all 3 large groups of islands: Luzon, Visayas, and Mindanao. Unfortunately, their vans started breaking down upon arriving in the Davao region. Scared of being caught by the Papa Lao, son of Mayor Duterte, they looked for a place to stay</p>
        <p>Because all the inns were fully-booked due to their concert, Drake and Bieber ended up staying in a small barn owned by an old woman named Aling Nena. Out of gratitude, they decided to create a song called "Hold On, We're Going to Aling Nena's" which reached Number 1 on the Billboard Hot 100 and made its muse a worldwide sensation.</p>
        <p>Drake and Bieber left the Philippines, but gave Aling Nena her lifelong dream: A sari-sari store which was appropriately named Aling Nena's Sari-Sari Store. Since then, her newfound pals and her accounting skills have helped the business flourish, turning into a global brand for both common and unique goods.</p>
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>